Source: address-book-service
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               dbus-test-runner,
               debhelper (>= 9),
               gobject-introspection (>= 1.31.0-2~),
               libfolks-dev,
               libgee-0.8-dev (>= 0.8.4),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtpim5-dev,
               valac (>= 0.20),
Standards-Version: 3.9.4
Homepage: https://launchpad.net/address-book-service
Vcs-Bzr: https://code.launchpad.net/~phablet-team/address-book-service/trunk
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/address-book-service/trunk/files

Package: address-book-service
Architecture: any
Multi-Arch: same
Depends: evolution-data-server,
         libfolks-eds25,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu contact service
 A contact aggregator service, that exports all contact information through dbus.

Package: qtcontact5-galera
Architecture: any
Multi-Arch: same
Depends: address-book-service (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: QtContacts backend for galera contact service.
 A QContactEngine implementation using address-book-service.
